# Игнорировать все папки venv (включая вложенные)
**/venv/

# Игнорировать все папки logs
**/logs/

# Игнорировать все папки __pycache__
**/__pycache__/

# Дополнительные стандартные исключения для Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE и редакторы
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?